.modal-background2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-style2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  width: 600px;
  height: 600px;
  background-color: #1a1a1a;
}

.modal-container2 {
  width: 90%;
  height: 80%;
  background-color: #232323;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
}

.order-list {
  height: 50%;
  overflow-y: scroll;
}

.item-box {
  width: 95%;
  border-bottom: 1px dashed #656565;
}

.name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.add-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30px;
}

.add-txt {
  font-size: 12px;
}

.price-row h1 {
  font-size: 24px;
}

.buttons-row {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons-row button {
  width: 120px;
  color: #ffffff;
  background-color: #c91f77;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 76px 76px 76px 76px;
  -webkit-border-radius: 76px 76px 76px 76px;
  -moz-border-radius: 76px 76px 76px 76px;
}

@media (min-width: 100px) and (max-width: 390px) {
  .modal-style2 {
    height: 400px;
    width: 99%;
  }

  .add-row {
    height: 40px;
  }

  span .add-txt {
    height: 30px;
  }

  .modal-container2 {
    width: 95%;
    height: 90%;
    padding: 10px;
  }
}
