.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 44px 44px 44px 44px;
  -webkit-border-radius: 44px 44px 44px 44px;
  -moz-border-radius: 44px 44px 44px 44px;
  width: 600px;
  height: 600px;
  background-color: #1a1a1a;
}

/* MEDIA QUERY modal */
@media (min-width: 351px) and (max-width: 660px) {
  .modal-style {
    width: 90%;
  }
  .popup-button-div {
    gap: 30px;
  }
}

.modal-container {
  width: 90%;
  height: 90%;
  background-color: #232323;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10%;
  border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
}

.popup-title {
  font-size: 32px;
  color: #c91f77;
}

.popup-intern-container {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.popup-button-div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.popup-button-div button {
  width: 144px;
  height: 40px;
  font-size: 22px;
  font-weight: 700;
  border: none;
  color: white;
  background-color: #c91f77;
  border-radius: 76px 76px 76px 76px;
  -webkit-border-radius: 76px 76px 76px 76px;
  -moz-border-radius: 76px 76px 76px 76px;
}

.popup-button-div button:hover {
  background-color: #8d1f58;
  transition: ease-in-out 0.2s;
}

.item-container {
  display: flex;
  height: auto;
  flex-direction: column;
  gap: 2px;
}

.add-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-span {
  display: flex;
  gap: 15px;
}

.add-row .add-span input[type="number"] {
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 18px;
}
.addplus {
  height: 15px;
  width: 15px;
}

.addMinus {
  height: 20px;
  width: 20px;
  fill: #ffffff;
}

.name-and-price {
  display: flex;
  gap: 15px;
}

.quantityRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quantityRow div {
  font-weight: 800;
  font-size: 18px;
}

.quantityRow input {
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 18px;
}
@media (min-width: 351px) and (max-width: 660px) {
  .popup-button-div button {
    width: 100px;
    font-size: 15px;
  }

  .name-and-price span {
    font-size: 12px;
  }
  div .add-span {
    gap: 5px;
  }
  .add-row .add-span input[type="number"] {
    width: 25px;
  }
}

@media (min-width: 100px) and (max-width: 350px) {
  .popup-button-div button {
    width: 100px;
    font-size: 15px;
  }
  .addplus {
    height: 13px;
    width: 13px;
  }
  .addMinus {
    height: 13px;
    width: 13px;
  }
  .name-and-price span {
    font-size: 12px;
  }
  div .add-span {
    gap: 5px;
  }
  .add-row .add-span input[type="number"] {
    width: 25px;
  }
  .modal-style {
    width: 99%;
  }
  .popup-button-div {
    gap: 30px;
  }
  .modal-container {
    padding: 10px;
  }
}
